<nav class="sidenav">
  <div class="navblock">
    <div class="navblock_text">
      <a href="{{ site.baseurl }}/" {% if page.url == "/" or page.url == "/index.html" %}class="active"{% endif %}>Home</a>
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for my_page in sorted_pages %}
        {% if my_page.title %}
        <a href="{{ my_page.url | prepend: site.baseurl }}" {% if page.url == my_page.url %}class="active"{% endif %}>{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
